<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{title}}</title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/images/favicon.ico">

</head>
  <body>
    <div id="container">
      <div class="gridster">
          <ul>
            <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
              <div data-view="Image" style='background-color: white;' data-image="/images/tec10.png"></div>
            </li>
            <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
              <div data-id="clock" data-view="Clock" data-title="Clock"></div>
            </li>



            <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
              <div data-id="apic_health" data-view="Text" data-title="Network Fabric Health" style="background-color:#ff9618"></div>
            </li>
            <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
              <div data-id="tenant_health_L2-Test" data-view="List" data-unordered="true" data-title="Package Line 1a5B Network Health" data-moreinfo="Network Status for line 1a5b"></div>
            </li>
            <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
              <div data-id="tenant_health_infra" data-view="List" data-unordered="true" data-title="Package Line 2a8f Network Health" data-moreinfo="Network Status for line 2a8f"></div>
            </li>

            <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
              <div data-id="network_endpoint_count_VLAN96" data-view="Meter" data-title="Total Endpoints in Line1a5B (max 250)" data-min="1" data-max="254" ></div>
            </li>
            <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
              <div data-id="endpointfakedata" data-view="Meter" data-title="Total Endpoints in Line2a8f (max 250)" data-min="1" data-max="254" ></div>
            </li>
            <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
              <div data-id="epg_stats_VLAN96" data-view="Graph" data-title="Package Line 1a5B Inband Unicast ( 15 min intervals ) bytes" style="background-color:#ff9618"></div>
            </li>
            <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
              <div data-id="epg_stats_fake" data-view="Graph" data-title="Package Line 2a8f Inband Unicast ( 15 min intervals ) bytes" style="background-color:#ff9618"></div>
            </li>




            <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
              <div data-id="fabric_members_health" data-view="List" data-unordered="true" data-title="Fabric Members Health" data-moreinfo="Leaf/Spine nodes"></div>
            </li>


            <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
              <div data-id="all_tenants" data-view="List" data-unordered="true" data-title="List of Tenants" data-moreinfo="something else"></div>
            </li>


            <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
              <div data-id="apic_temp" data-view="Text" data-title="APIC Temp" style="background-color:#ff9618"></div>
            </li>


        </ul>
    </div>
  </body>
</html>
